.show-mb {
  display: none !important;
}

@media only screen and (max-width: 1460px) {
  .test {
    width: 200px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .test {
    display: none !important;
  }
  .hide-mb {
    display: none !important;
  }
  .show-mb {
    display: inline !important;
  }
  .mobile {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1400px) {
  .test {
    display: none !important;
  }
  .hide-mb {
    display: none !important;
  }
}

.cg-marquee {
  background: yellow !important;
}

.moeda-img {
  display: inline-block;
  margin: -20px 10px 0px 0px !important;
}

a:hover {
  text-decoration: none !important;
  color: #a0a0a0 !important;
  text-transform: none !important;
}

.hide {
  display: none !important;
}

.video-responsive {
  padding-bottom: 10px;
  display: flex;
}

.video-responsive iframe {
  height: 100%;
  width: 100%;
  max-width: 426px;
  max-height: 240px;
}
