.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Upload Images';
  display: inline-block;
  background: none;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 20px 30px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.2rem;
}
.custom-file-input:hover::before {
  background: rgba(145, 158, 171, 0.32);
}
.custom-file-input:active::before {
  background: rgba(145, 158, 171, 0.32);
}
.show-mb {
  display: none !important;
}
.heroButton {
  flex-direction: row!important;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #161C24; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
}
::-webkit-scrollbar-thumb:hover {
  background: #444; 
}
.nomics-ticker-widget-footer {
  display: none!important;
}

@media only screen and (max-width: 1460px) {
  .test {
    width: 200px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .test {
    display: none !important;
  }
  .hide-mb {
    display: none !important;
  }
  .show-mb {
    display: inline !important;
  }
  .mobile {
    width: 100% !important;
  }
  .heroButton {
    flex-direction: column!important;
  }
}

@media only screen and (max-width: 1400px) {
  .test {
    display: none !important;
  }
  .hide-mb {
    display: none !important;
  }
}

.cg-marquee {
  background: yellow !important;
}

.moeda-img {
  display: inline-block;
  margin: -20px 10px 0px 0px !important;
}

a:hover {
  text-decoration: none !important;
  color: #a0a0a0 !important;
  text-transform: none !important;
}

.hide {
  display: none !important;
}

.video-responsive {
  padding-bottom: 10px;
  display: flex;
}

.video-responsive iframe {
  height: 100%;
  width: 100%;
  max-width: 426px;
  max-height: 240px;
}
